<script src="~/js/controller/productcontroller.js"></script>
<script src="~/js/services/productservice.js"></script>

<script>
    $(document).ready(function(){
        ProductController.LoadCartProductForCheckout();
        });
</script>

<div id="dvCheckoutWrapper" style="width:100%;">

</div>