<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/js/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function(){
        var productContent = "";
        $.get("https://localhost:7284/productAPI/Index", function(data,status){
            $.each(data,function(index,value){
                productContent= productContent+`
                   <div class="col-sm-3" style="margin-top:10px">
                        <div class="thumb-wrapper">
                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                            <div class="img-box">
                                 <img src="${value.picture}" class="img-fluid" alt="">
                            </div>
                            <div class="thumb-content text-center">
                                <h4>${value.name}</h4>
                                <div class="star-rating">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>
                                        <p class="item-price"><strike>${value.price}</strike> <b>${value.price}</b></p>
                                        <a href="#" class="btn btn-secondary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                `;
            })
            $('#productList').html(productContent);
        })
    })
</script>
<script>
    // $(document).ready(function () {
    //     $(".wish-icon i").click(function () {
    //         $(this).toggleClass("fa-heart fa-heart-o");
    //     });
    // });

        $(document).on("click", ".wish-icon i", function () {
        $(this).toggleClass("fa-heart fa-heart-o");
    });

</script>

<div class="container-xl">
    <div class="row">
        <div class="col-md-12">
            <h2 class ="text-center mb-4">PRODUCTS</h2>
            <div style="height: 4px; width: 80px; background-color: #775959; margin: 6px auto 0;"></div>
            <div id="myCarousel" class="carousel">
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="row" id="productList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
