<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/js/jquery-3.7.1.min.js"></script>
<script src="~/js/controller/productcontroller.js"></script>
<script src="~/js/services/productservice.js"></script>
<script>
    $(document).ready(function(){
       ProductController.LstProduct();
    })
</script>
<script>
   $(document).on("click", ".wish-icon i", function () {
        $(this).toggleClass("fa-heart fa-heart-o");
    });
$(document).ready(function () {
var cartData = localStorage.getItem("lstCartProduct");
if (cartData) {
    try {
        var lst = JSON.parse(cartData);
        $('#lblCartCount').html(lst.length);
    } catch (e) {
        $('#lblCartCount').html("0");
    }
} else {
    $('#lblCartCount').html("0");
}
});

</script>

<div class="container-xl">
    <div class="row">
        <div class="col-md-12">
            <h2 class ="text-center mb-4">PRODUCTS</h2>
            <div style="height: 4px; width: 80px; background-color: #775959; margin: 6px auto 0;"></div>
            <div id="myCarousel" class="carousel">
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="row" id="productList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Common/_PartialViewCart.cshtml");