<style>
    #ulMenu ul {
        list-style: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: larger;
        font-family: Arial, sans-serif;
    }

    /* Set sidebar background */
    #dvLeftBarMenu {
        background-color: #2C3E50; /* Dark tone */
    }

        /* Style anchor links inside sidebar */
        #dvLeftBarMenu ul li a {
            color: #ECF0F1; /* Light grey text */
            text-decoration: none;
            transition: 0.3s;
        }

            /* Hover effect */
            #dvLeftBarMenu ul li a:hover {
                color: #1ABC9C; /* Teal hover */
                text-shadow: 0 0 5px #1ABC9C;
            }

            /* Optional: highlight active link */
            #dvLeftBarMenu ul li a.active {
                color: white;
                background-color: #aaa;
                padding: 5px 10px;
                border-radius: 5px;
            }
</style>

<div id="dvLeftBarMenu" style=" width: 300px;left:0px; bottom: 0px; top: 56px; position: fixed;background-color: rgb(0 0 0 / 82%);left:0px;">
    <div  style="padding:5px; color:azure">
        <ul  id="ulMenu">

        </ul> 
    </div>
</div>
<div>

</div>